:root {
  --color-primary: #757575;
  --color-secondary: #212121;
  --color-accent: #2196f3;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-footer-link: rgba(255, 255, 255, 0.6);
  --color-background: #f5f5f5;
  --color-background-secondary: #f5f4fa; /*btns */
  --color-background-black: #2f303a;
  --color-border: #eeeeee;
}

*,
*::before,
*::after {
  /* margin: 0px;
  padding: 0px; */
  list-style: none;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}


img {
  display: inline-block;
}

button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

/* ============================== AUXILARY ===================================== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.on-white {
  color: var(--color-black);
}

.on-black {
  color: var(--color-white);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/* ============================== HEADER ============================== */

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--color-white);
  /* display: flex; */
}

.logo-link {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: calc(31 / 26);
}

.logo-accent {
  color: var(--color-accent);
}

.header-link-wrap {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
}

.nav-list-link {
  color: var(--color-secondary);
  line-height: 1.14;
}

.contact-list {
  display: flex;
}

.contact-list-link {
  font-weight: 500;
  color: var(--color-primary);
  line-height: 1.14;
}

.nav-list-link:hover,
.nav-list-link:focus .nav-list-link.current {
  color: var(--color-accent);
}

/* .nav-list-link:active { ????
  color: #ffffff;
} */
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--color-accent);
}

/* ============================== FOOTER ============================== */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-background-black);
}
.footer-list {
  padding:0px;
}
.address {
  color: var(--color-white);
  font-style: inherit;
}

.footer-link {
  color: var(--color-footer-link);
}

.footer-link:hover,
.footer-link:focus,
.address:hover,
.address:focus {
  color: var(--color-accent);
}
/* ============================== HERO ============================== */

.hero {
  background-color: var(--color-background-black);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-hdr {
  color: var(--color-white);
  font-size: 44px;
  font-weight: 900;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero-btn {
  height: 50px;
  width: 216px;
  border-radius: 4px;

  color: var(--color-white);
  background-color: var(--color-accent);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
}

/* ============================== PROFILE ============================== */

.profile {
  padding-top: 94px;
  padding-bottom: 94px;
}

.profile-list {
}

.profile-item {
}

.profile-title {
  color: var(--color-secondary);
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: left;
  text-transform: uppercase;
}

/* ============================== COMPETENCE & TEAM ============================== */

.competence {
  padding-bottom: 94px;
}

.team {
  background-color: var(--color-background-secondary);
  padding-top: 94px 0;
  /* padding-bottom: 94px; */
}

.competence-list,
.team-list {
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
}

.competence-hdr,
.team-hdr {
  color: var(--color-secondary);
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}

.competence-list-item {
  min-width: 370 px;
}

.team-card {
  background-color: var(--color-white);
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
   box-shadow: 0 2px  1px var(--color-primary);

}

.team-card-name {
  color: var(--color-secondary);
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 30px;
}

.team-card-description {
}

/* ============================== PORTFOLIO PAGE ============================== */

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  margin-bottom: 34px;
}

.filter-btn {
  color: var(--color-secondary);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: inherit;
  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--color-white);
}

.project-list {
}

.project-title {
  color: var(--color-secondary);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  color: var(--color-primary);
  font-size: 16px;
  line-height: calc(30 / 16);
}
